.placeholderColor input::placeholder {
  color: #b4b4cd;
  opacity: 1;
  font-size: 14px;
  font-family: "Outfit";
  font-weight: 400;
}

#labelName {
  color: "#000000";
  font-weight: 500;
  font-size: 15px;
}

#labelBorderBottom {
  color: #6e6996;
  font-size: 15px;
  border-bottom: 2px solid #cbc7df;
}

.customInputBottomColor input {
  color: #6e6996;
  font-size: 15px;
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #cbc7df;
}

.customInputBottomColor select {
  color: #6e6996;
  font-size: 15px;
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #cbc7df;
}

.addVendor {
  position: relative;
  font-weight: 500;
}
.primaryButton {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: var(--theme-active);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 13px;
  box-sizing: border-box;
  text-align: right;
  font-size: 17px;
  color: #fff;
  font-family: var(--font-outfit);
  cursor: pointer;
}

/* Button Style */

.my-confirm-button {
  background-color: #500560 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.my-confirm-button:hover {
  background-color: #500560 !important;
}

/* Icon Style */
.my-icon {
  color: #cccc !important;
  padding: 0px;
  font-size: 12px;
  padding: 0px;
  margin: 0px auto;
}

/* Title Style */
.my-title {
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: "Outfit", sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Text Style */
.my-text {
  color: #000 !important;
  font-size: 16px !important;
  font-family: "Outfit", sans-serif;
  font-weight: 300 !important;
  padding: 0px;
  margin: 0px;
}

.my-popup {
  background-color: #f9f9f9 !important;
  border-radius: 10px !important;
  padding: 20px !important;
  width: 80% !important;
  max-width: 450px !important;
  height: auto !important;
  max-height: 260px !important;
  overflow-y: auto !important;
  box-sizing: border-box !important;
}

.my-popup-reject {
  background-color: #f9f9f9 !important;
  border-radius: 10px !important;
  padding: 20px !important;
  width: 80% !important;
  max-width: 700px !important;
  height: auto !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  box-sizing: border-box !important;
}

.my-popup-approve {
  background-color: #f9f9f9 !important;
  border-radius: 10px !important;
  padding: 20px !important;
  width: 80% !important;
  max-width: 700px !important;
  height: auto !important;
  max-height: 260px !important;
  overflow-y: auto !important;
  box-sizing: border-box !important;
}

/* NaveBar Active */
.active-navlink {
  background: #a56eb4;
  color: #ffffff;
  border-radius: 10px;
}

.custom-phone-input:focus {
  border-color: #c3a0cd !important; /* Focus border color */
  background-color: #f2f0f9 !important; /* Focus background color */
  outline: none; /* Remove the default outline */
}

.custom-phone-input:hover {
  border-color: #c3a0cd !important; /* Hover border color */
}

/* For input field autofill  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000000 !important;
  background-color: transparent !important;
}

.customInput input {
  border: none;
  outline: none;
  border-bottom: 2px solid #cbc7df;
  font-family: "Outfit";
  font-size: 13px;
  width: 100%;
}

.customInput select {
  border: none;
  outline: none;
  border-bottom: 2px solid #cbc7df;
  font-family: "Outfit";
  font-size: 13px;
  width: 100%;
}

.css-1kl5tvg-MuiGrid-root > .MuiGrid-item {
  padding-top: 5px !important;
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}
