.container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
}

.form-wrapper {
  border-radius: 8px;
}

.form-title {
  margin-top: 16px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 400;
  color: #a56eb4;
  font-family: "Outfit", sans-serif;
}

.form-label {
  font-size: 14px;
  color: #6e6996;
  font-family: "Outfit", sans-serif;
  margin-bottom: 4px;
  display: block;
}

.form-required {
  color: red;
}

.submit-button {
  background-color: #6e0a82;
  color: #ffffff;
  text-transform: none;
  font-family: "Outfit", sans-serif;

  &:hover {
    background-color: #6e0a82;
  }
}
