.flight-search-border {
  border: 1px solid #d9d5ec;
  padding: 10px 10px;
}

.flight-search-input {
  color: #9493bd;
  font-weight: 500;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-top: 10px;
}
