$background-light: #ffffff;
$foreground-light: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;
$highlight-color: #c3a0cd;
$text-color: #a56eb4;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;

$font-outfit: "Outfit", sans-serif;
$theme-active: #500560;
$color-placeholder: #b4b4cd;
$color-label: #000000;
$color-input: #6e6996;
$border-bottom-color: #cbc7df;
$nav-active-bg: #a56eb4;
$nav-active-text: #ffffff;
$popup-bg: #f9f9f9;
$focus-border: #c3a0cd;
$focus-bg: #f2f0f9;

$button-bg: #6E0A82;


