$background-light: #ffffff;
$foreground-light: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;
$highlight-color: #c3a0cd;
$text-color: #a56eb4;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
